<div class="card mb-3 border" style="max-width: 18rem;">
    <div class="card-header">
        <h2>Name</h2>
        <h3>Role</h3>
    </div>
    <div class="card-body text-secondary">
        <div class="card" style="width: 15.5rem;">
            <ul class="list-group list-group-flush">
                <li id="idNum" class="list-group-item">ID No.</li>
                <li id="email" class="list-group-item">Email</li>
                <li id="gitHub" class="list-group-item">GitHub</li>
            </ul>
        </div>
    </div>