<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/bootstrap-reboot.css" />
    <link rel="stylesheet" href="./src/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="./src/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/omc6uwd.css">
    <script type="text/javascript" src="./app.js"></script>
    <title>WulfSounds</title>
</head>

<body>
    <header>
        <h1 id="title-main">wulf&co.</h1>
        <h1 id="title-second">wulf&co.</h1>
        <!-- <h1 id="title-fourth">WulfSounds</h1> -->
    </header>
    <div class="container">
        <h2 id="subheader">meet the dev team</h2>
    </div>
    <main>
        <section>
            <div class="card mb-3 border" style="max-width: 18rem;">
                <div class="card-header">
                    <h2>Devin</h2>
                    <h3>Manager</h3>
                </div>
                <div class="card-body text-secondary">
                    <div class="card" style="width: 15.5rem;">
                        <ul class="list-group list-group-flush">
                            <li id="idNum" class="list-group-item">ID Number: 1</li>
                            <li id="email" class="list-group-item">Email: <a href="mailto:devin@gmail.com">devin@gmail.com</a>
                            </li>
                            <li id="profile" class="list-group-item">Office: 2</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card mb-3 border" style="max-width: 18rem;">
                <div class="card-header">
                    <h2>Gary</h2>
                    <h3>Engineer</h3>
                </div>
                <div class="card-body text-secondary">
                    <div class="card" style="width: 15.5rem;">
                        <ul class="list-group list-group-flush">
                            <li id="idNum" class="list-group-item">ID Number: 2</li>
                            <li id="email" class="list-group-item">Email: <a href="mailto:gary@gmail.com">gary@gmail.com</a>
                            </li>
                            <li id="profile" class="list-group-item">GitHub: garytalmes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card mb-3 border" style="max-width: 18rem;">
                <div class="card-header">
                    <h2>Paul</h2>
                    <h3>Intern</h3>
                </div>
                <div class="card-body text-secondary">
                    <div class="card" style="width: 15.5rem;">
                        <ul class="list-group list-group-flush">
                            <li id="idNum" class="list-group-item">ID Number: 3</li>
                            <li id="email" class="list-group-item">Email: <a href="mailto:paul@gmail.com">paul@gmail.com</a>
                            </li>
                            <li id="profile" class="list-group-item">School: SMU</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h5>2022 Dev Wulf for SMU Coding Bootcamp | Find this repo on <span><a href="github.com/wulfsounds">GitHub.</a></span></h5>
    </footer>
</body>

</html>